*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

*, a, input, select, textarea, button {
    font-family: 'Lato', sans-serif;
}

*:not(input) {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    user-drag: none;
}

.btn {
    display: block;
    padding: 13px 0 14px;
    background: #dc0000;
    border: none;
    box-shadow: 0 4px 12px rgba(220, 0, 0, 0.1);
    border-radius: 64px;
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 13px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    transition: background 0.2s;

    &:hover, &:focus, &:active {
        background: #9e0101;
    }

    @media (min-width: 2560px) {
        font-size: 17px;
        padding: 17px 0 16px;
    }

    @media (min-width: 3840px) {
        font-size: 26px;
        padding: 22px 0 28px;
        border-radius: 128px;
    }
}

.perfect {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    pointer-events: none;
    z-index: 100000;

    img {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.5;
        width: 100vw;
        height: auto;
    }
}

.start_wrapper {
    height: 100vh;
    position: relative;

    .standard_wrapper {
        position: absolute;
        top: 79px;
        left: 106px;
        width: 188px;
        height: 173px;

        .standard_number {
            font-family: 'Nitty PX', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 154px;
            line-height: 1;
            color: #000000;
        }

        .standard_title {
            font-family: 'Nitty PX', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 39px;
            line-height: 1;
            color: #000000;
            margin-top: -2px;
            margin-left: -3px;
        }
    }

    /*! AUTHORIZATION PAGE START */
    .sign_in_start_content {
        width: 1140px;
        margin: 0 auto;
        padding: 183px 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .logo_wrapper {
            width: 124px;
            height: 75px;
            margin-right: 21px;

            img {
                display: block;
                width: 100%;
                height: 100%;
                pointer-events: none;
            }
        }

        .sign_in_form_wrapper {
            margin-top: 66px;

            form {

                [data-placeholder][data-label] {
                    position: relative;

                    &:before,
                    &:after {
                        transition: opacity 0.15s;
                        display: block;
                        position: absolute;
                        left: 56px;
                        pointer-events: none;
                        opacity: 0;
                        font-family: 'Lato', sans-serif;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 1;
                        letter-spacing: 0.5px;
                    }

                    &:before {
                        content: attr(data-placeholder);
                        top: 33px;
                        font-size: 15px;
                        color: rgba(1, 1, 1, 0.4);
                    }

                    &:after {
                        content: attr(data-label);
                        top: 20px;
                        font-size: 13px;
                        color: rgba(1, 1, 1, 0.6);
                    }

                    &:not(.filled):before {
                        opacity: 1;
                    }

                    &.filled:after {
                        opacity: 1;
                    }
                }

                .forma {
                    .form-group {
                        width: 340px;
                        position: relative;
                        margin-bottom: 21px;
                        margin-right: 17px;

                        label {
                            display: block;
                            position: absolute;
                            top: 31px;
                            left: 22px;
                        }

                        input {
                            appearance: none;
                            -moz-appearance: none;
                            -webkit-appearance: none;
                            display: block;
                            background: #efefef;
                            border-radius: 8px;
                            border: none;
                            outline: none;
                            padding: 43px 10px 21px 57px;
                            font-weight: 900;
                            width: 100%;
                        }

                        .inspect_pass {
                            opacity: 0;
                            pointer-events: none;
                            display: block;
                            position: absolute;
                            bottom: 22px;
                            right: 14px;
                            font-family: 'Lato', sans-serif;
                            font-style: normal;
                            font-weight: 900;
                            font-size: 11px;
                            line-height: 1;
                            text-transform: uppercase;
                            color: #010101;
                            transition: opacity 0.2s;
                            cursor: pointer;

                            &.show {
                                opacity: 1;
                                pointer-events: auto;
                            }
                        }
                    }

                    .forgot_password {
                        display: block;
                        margin: 29px 0 48px 114px;
                        background: none;
                        border: none;
                        outline: none;
                        text-align: center;
                        font-family: 'Lato', sans-serif;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 1;
                        color: #010101;
                        transition: opacity 0.2s;
                        cursor: pointer;
                        letter-spacing: 0.5px;
                        opacity: 0.9;

                        &:hover {
                            opacity: 1;
                        }
                    }

                    .btn.sign_in_submit {
                        opacity: 1;
                        transition: opacity 0.2s;
                        pointer-events: auto;
                        cursor: pointer;
                        width: 336px;
                        padding: 16px 0 13px;

                        &.disabled {
                            opacity: 0.12;
                            pointer-events: none;
                        }
                    }
                }
            }
        }

        .registration_wrapper {
            margin: 70px auto 84px;

            p {
                margin: 0 0 0 -12px;
                font-style: normal;
                font-weight: 600;
                font-size: 13px;
                line-height: 1.3;
                color: #000000;
                text-align: center;
                letter-spacing: 0.4px;
            }

            a {
                display: block;
                text-decoration: none;
                font-style: normal;
                font-weight: 900;
                font-size: 15px;
                line-height: 1.3;
                color: #dc0000;
                text-align: center;
                transition: color 0.2s;
                letter-spacing: 0.5px;
                margin-left: -18px;

                &:hover {
                    color: #9e0101;
                }
            }
        }

        .app_install_wrapper {
            margin-bottom: 83px;

            p {
                margin: 0 0 23px -16px;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 1;
                text-align: center;
                color: #000000;
                letter-spacing: 0.5px;
            }

            .app_install_list {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin: 0 -10px;

                a {
                    display: block;
                    text-decoration: none;
                    margin-right: 20px;
                    transition: opacity 0.2s;

                    &:hover {
                        opacity: 0.6;
                    }
                }
            }
        }
    }

    /*! AUTHORIZATION PAGE END */

    /*! REGISTRATION PAGE START */
    .registration_start_content {
        width: 1140px;
        margin: 0 auto;
        padding: 93px 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .title {
            font-family: 'Lato', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 26px;
            letter-spacing: 1.4px;
            line-height: 1.2;
            color: #000000;
        }

        .kind_of_registration_wrapper {
            margin: 46px -12px 55px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: stretch;


            a {
                display: block;
                width: 156px;
                text-decoration: none;
                padding: 11px 20px;
                margin: 0 12px;
                background: #efefef;
                border-radius: 35px;
                font-family: 'Lato', sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 11px;
                line-height: 1.2;
                text-align: center;
                text-transform: uppercase;
                color: #000000;
                opacity: 0.5;

                &.active {
                    position: relative;
                    background: #dc0000;
                    box-shadow: 0 4px 21px rgba(0, 0, 0, 0.12);
                    color: #ffffff;
                    opacity: 1;

                    &:after {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 11px;
                        right: 12px;
                        width: 14px;
                        height: 14px;
                        background-image: url("../img/info_auto.svg");
                        background-repeat: no-repeat;
                    }
                }

            }
        }

        .registration_form_wrapper {
            width: 638px;

            form {
                [data-placeholder][data-label] {
                    position: relative;

                    &:before,
                    &:after {
                        transition: opacity 0.15s;
                        display: block;
                        position: absolute;
                        left: 55px;
                        pointer-events: none;
                        opacity: 0;
                        font-family: 'Lato', sans-serif;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 1;
                        letter-spacing: 0.5px;
                    }

                    &:before {
                        content: attr(data-placeholder);
                        top: 35px;
                        font-size: 15px;
                        color: rgba(1, 1, 1, 0.4);
                    }

                    &:after {
                        content: attr(data-label);
                        top: 23px;
                        font-size: 13px;
                        color: rgba(1, 1, 1, 0.6);
                    }

                    &:not(.filled):before {
                        opacity: 1;
                    }

                    &.filled:after {
                        opacity: 1;
                    }
                }

                .forma {
                    margin-left: -8px;

                    .form-group-item {
                        position: relative;
                        margin-bottom: 35px;
                        width: 640px;

                        .registr_image {
                            display: block;
                            position: absolute;
                            top: 33px;
                            left: 21px;
                        }

                        input {
                            display: block;
                            background: #efefef;
                            border-radius: 8px;
                            border: 2px solid transparent;
                            outline: none;
                            padding: 38px 7px 21px 52px;
                            font-family: 'Lato', sans-serif;
                            font-style: normal;
                            font-weight: 900;
                            font-size: 17px;
                            line-height: 1;
                            letter-spacing: 1.3px;
                            color: #010101;
                            width: 100%;
                            transition: background-color, border-color 0.2s;
                        }

                        span.error {
                            display: none;
                            position: absolute;
                            bottom: -20px;
                            border: none;
                            font-family: 'Lato', sans-serif;
                            font-style: normal;
                            font-weight: 900;
                            font-size: 9px;
                            line-height: 12px;
                            text-transform: uppercase;
                            color: #dc0000;
                        }

                        &.error {
                            border: 6px solid rgba(220, 0, 0, 0.06);
                            border-radius: 9px;

                            & input {
                                background-color: #ffffff;
                                border: 2px solid #dc0000;
                                box-shadow: 0 0 9px rgba(220, 0, 0, 0.4);
                                background-image: url("../img/error.svg");
                                background-repeat: no-repeat;
                                background-position: center right 15px;
                            }
                        }

                        &.success {
                            border: 6px solid rgba(0, 174, 49, 0.06);
                            border-radius: 9px;

                            & input {
                                background-color: #ffffff;
                                border: 2px solid #00ae31;
                                background-image: url("../img/sucesses.svg");
                                background-repeat: no-repeat;
                                background-position: center right 15px;
                            }
                        }
                    }

                    .form-group-list {
                        display: flex;
                        flex-direction: row;
                        justify-content: stretch;
                        margin: 0 -19px;

                        .form-group {
                            position: relative;
                            margin: 0 19px 35px;
                            width: 300px;

                            .registr_image {
                                display: block;
                                position: absolute;
                                top: 32px;
                                left: 25px;
                            }

                            &.success {
                                border: 6px solid rgba(0, 174, 49, 0.06);
                                border-radius: 9px;

                                & input {
                                    background-color: #ffffff;
                                    border: 2px solid #00ae31;
                                    background-image: url("../img/sucesses.svg");
                                    background-repeat: no-repeat;
                                    background-position: center right 15px;
                                }

                                & .select_wrapper .select2 .selection .select2-selection {
                                    .select2-selection__rendered {
                                        background-color: #ffffff;
                                        border: 2px solid #00ae31;
                                        border-radius: 8px;
                                        height: 83px;
                                        background-image: url("../img/sucesses.svg");
                                        background-repeat: no-repeat;
                                        background-position: center right 15px;
                                    }

                                    .select2-selection__arrow {
                                        display: none;
                                    }
                                }
                            }

                            &.error {
                                border: 6px solid rgba(220, 0, 0, 0.06);
                                border-radius: 9px;

                                & input {
                                    background-color: #ffffff;
                                    border: 2px solid #dc0000;
                                    box-shadow: 0 0 9px rgba(220, 0, 0, 0.4);
                                    background-image: url("../img/error.svg");
                                    background-repeat: no-repeat;
                                    background-position: center right 15px;
                                }
                            }

                            input {
                                display: block;
                                background: #efefef;
                                border-radius: 8px;
                                border: 2px solid transparent;
                                outline: none;
                                padding: 38px 10px 19px 57px;
                                font-family: 'Lato', sans-serif;
                                font-style: normal;
                                font-weight: 900;
                                font-size: 17px;
                                line-height: 1;
                                letter-spacing: 0.01em;
                                color: #010101;
                                width: 100%;
                                transition: background-color, border-color 0.2s;
                            }

                            span.error {
                                display: none;
                                position: absolute;
                                bottom: -20px;
                                border: none;
                                font-family: 'Lato', sans-serif;
                                font-style: normal;
                                font-weight: 900;
                                font-size: 9px;
                                line-height: 12px;
                                text-transform: uppercase;
                                color: #dc0000;
                            }

                            .select_wrapper {
                                span {
                                    &.icon {
                                        position: absolute;
                                        top: 31px;
                                        left: 23px;
                                        z-index: 100;
                                    }

                                    &.select_placeholder {
                                        position: absolute;
                                        z-index: 10;
                                        font-family: 'Lato', sans-serif;
                                        font-style: normal;
                                        font-weight: 600;
                                        font-size: 13px;
                                        line-height: 1;
                                        letter-spacing: 0.5px;
                                        color: #010101;
                                        opacity: 0.6;
                                        top: 22px;
                                        left: 58px;
                                    }
                                }

                                select {
                                    display: block;
                                    width: 100%;
                                }

                                .select2 {
                                    display: block;
                                    width: 100%;
                                    height: 83px;
                                    border: none;
                                    background: #efefef;
                                    border-radius: 8px;

                                    .selection {
                                        display: block;
                                        width: 100%;
                                        height: 100%;
                                    }

                                    .select2-selection {
                                        border: none;
                                        background-color: #efefef;
                                        outline: none;
                                    }

                                    .select2-selection__rendered {
                                        width: 100%;
                                        padding: 46px 28px 24px 58px;
                                        font-family: 'Lato', sans-serif;
                                        font-style: normal;
                                        font-weight: 900;
                                        font-size: 16px;
                                        line-height: 1;
                                        letter-spacing: 0.01em;
                                        color: #010101;
                                    }

                                    .select2-selection__arrow {
                                        top: 30px;
                                        right: 15px;
                                    }

                                    .select2-selection__placeholder {
                                        font-family: 'Lato', sans-serif;
                                        font-style: normal;
                                        font-weight: 500;
                                        font-size: 14px;
                                        line-height: 17px;
                                        color: #000000;
                                    }
                                }

                                .select2-container {
                                    .select2-dropdown {
                                        border: none;

                                        .select2-results {
                                            width: 100%;
                                            border: 1px solid #e7f0fe;
                                            box-shadow: none;
                                            background-color: #efefef;
                                            padding: 15px;
                                            margin-top: -5px;
                                            border-radius: 0 0 8px 8px;

                                            .select2-results__option {
                                                font-family: 'Lato', sans-serif;
                                                font-style: normal;
                                                font-weight: 500;
                                                font-size: 14px;
                                                line-height: 17px;
                                                color: #000000;

                                                &--highlighted[aria-selected] {
                                                    color: #dc0000;
                                                    background-color: #efefef;
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            .inspect_pass {
                                opacity: 0;
                                pointer-events: none;
                                display: block;
                                position: absolute;
                                bottom: 22px;
                                right: 14px;
                                font-family: 'Lato', sans-serif;
                                font-style: normal;
                                font-weight: 900;
                                font-size: 11px;
                                line-height: 1;
                                text-transform: uppercase;
                                color: #010101;
                                transition: opacity 0.2s;
                                cursor: pointer;

                                &.show {
                                    opacity: 1;
                                    pointer-events: auto;
                                }
                            }
                        }
                    }

                    .checkbox_wrapper {
                        margin: 16px 0 33px;
                        position: relative;
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        input {
                            opacity: 0;
                            position: absolute;
                        }

                        input:checked + label {
                            background: #e7e7e7;

                            & span {
                                transform: translateX(28px);

                                & img {
                                    opacity: 1;
                                }
                            }

                        }

                        label {
                            display: block;
                            position: relative;
                            margin-right: 12px;
                            border: 1px solid #e7e7e7;
                            background: #ffffff;
                            border-radius: 27px;
                            width: 61px;
                            height: 34px;

                            span {
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                align-items: center;
                                position: absolute;
                                left: 5px;
                                top: 5px;
                                width: 23px;
                                height: 23px;
                                border-radius: 50%;
                                background: #dc0000;
                                transition: all 0.5s;

                                img {
                                    opacity: 0;
                                }
                            }
                        }

                        .agree_info {
                            font-family: 'Roboto', sans-serif;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 13px;
                            line-height: 1.3;
                            color: #000000;
                        }
                    }

                    button.registr_submit {
                        width: 640px;
                        padding: 17px 0 15px;
                        opacity: 1;
                        transition: opacity 0.2s;
                        pointer-events: auto;
                        cursor: pointer;
                        outline: none;

                        &.disabled {
                            opacity: 0.12;
                            pointer-events: none;
                        }
                    }
                }
            }
        }

        .back_to_main_page {
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 16px 0 13px;
            margin: 47px 0 41px -7px;
            width: 100%;
            text-decoration: none;
            border: 1px solid rgba(0, 0, 0, 0.29);
            border-radius: 34px;

            img {
                display: block;
                margin-right: 11px;
                width: 17px;
                height: 12px;
            }

            span {
                font-family: 'Lato', sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 1;
                letter-spacing: 0.01em;
                text-transform: uppercase;
                color: #000000;
            }
        }

        .decor {
            margin-bottom: 155px;
        }
    }

    /*! REGISTRATION PAGE END */

    /*! FOOTER START */
    .start_footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto 0 0;


        ul.start_footer_menu {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                a {
                    display: block;
                    text-decoration: none;
                    padding: 11px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 1.3;
                    color: #000000;
                    transition: color 0.2s;

                    &:hover {
                        color: #dc0000;
                    }
                }
            }
        }

        .main_signature {
            margin-top: 14px;
            text-align: right;

            span {
                font-family: 'Lato', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: normal;
                color: #000000;

                &.upper {
                    text-transform: uppercase;
                    font-weight: 900;
                }
            }
        }

        .time_ln {
            position: absolute;
            display: flex;
            flex-direction: row;
            align-items: center;
            bottom: 39px;
            right: 38px;
            width: 198px;
            height: auto;

            .ln {
                width: 39px;
                height: 36px;
                margin-right: 15px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 2px solid #c9c9c9;
                border-radius: 10px;
                font-style: normal;
                font-weight: 900;
                font-size: 15px;
                line-height: 45px;
                letter-spacing: 1.5px;
                color: #000000;
                margin-top: 5px;
            }

            #clock {
                font-family: 'Nitty PX', sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 45px;
                line-height: 45px;
                letter-spacing: 1.5px;
                color: #000000;
            }
        }
    }

    /*! FOOTER END */

    &:before {
        content: '';
        display: block;
        width: 212px;
        height: 212px;
        position: absolute;
        top: 0;
        right: 0;
        background-image: url("../img/decor_top.svg");
        background-repeat: no-repeat;
    }

    &:after {
        content: '';
        display: block;
        width: 212px;
        height: 177px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-image: url("../img/decor_bottom.svg");
        background-repeat: no-repeat;
    }

    @media (max-height: 1000px) {
        .sign_in_start_content {
            padding: 90px 0 0;

            .registration_wrapper {
                margin: 54px auto 57px;
            }
        }

        .registration_start_content {
            padding: 55px 0 0;

            .kind_of_registration_wrapper {
                margin: 32px -12px 41px;
            }

            .registration_form_wrapper {
                form {
                    .forma {
                        .form-group-item {
                            margin-bottom: 25px;
                        }

                        .form-group-list {
                            .form-group {
                                margin: 0 19px 25px;
                            }
                        }

                        .checkbox_wrapper {
                            margin: 11px 0 35px;
                        }
                    }
                }
            }

            .back_to_main_page {
                margin: 25px 0 34px -7px;
            }

            .decor {
                margin-bottom: 133px;
            }
        }
    }
}

/*! MODALS START */
.sign_in_forgot_password_modal {
    width: 415px;
    background: #ffffff;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
    border-radius: 22px;
    padding: 30px 30px 50px;

    .title {
        margin: 0 0 60px;
        font-style: normal;
        font-weight: 700;
        font-size: 21px;
        letter-spacing: 0.4px;
        line-height: 1.2;
        text-align: center;
        color: #000000;
    }

    .forgot_password_form {
        form {
            [data-placeholder][data-label] {
                position: relative;

                &:before,
                &:after {
                    transition: opacity 0.15s;
                    display: block;
                    position: absolute;
                    left: 56px;
                    pointer-events: none;
                    opacity: 0;
                    font-family: 'Lato', sans-serif;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 1;
                    letter-spacing: 0.5px;
                }

                &:before {
                    content: attr(data-placeholder);
                    top: 33px;
                    font-size: 15px;
                    color: rgba(1, 1, 1, 0.4);
                }

                &:after {
                    content: attr(data-label);
                    top: 20px;
                    font-size: 13px;
                    color: rgba(1, 1, 1, 0.6);
                }

                &:not(.filled):before {
                    opacity: 1;
                }

                &.filled:after {
                    opacity: 1;
                }
            }

            .forma {
                .form-group {
                    width: 340px;
                    position: relative;
                    margin: 0 auto;

                    label {
                        display: block;
                        position: absolute;
                        top: 31px;
                        left: 23px;
                    }

                    input {
                        display: block;
                        background: #efefef;
                        border-radius: 8px;
                        border: none;
                        outline: none;
                        padding: 41px 10px 20px 58px;
                        font-size: 17px;
                        line-height: 1;
                        font-weight: 900;
                        width: 100%;
                    }
                }

                .instruction {
                    max-width: 256px;
                    margin: 36px auto 49px;
                    font-family: 'Lato', sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 1.2;
                    text-align: center;
                    color: #000000;
                    opacity: 0.5;
                }
            }

            .btn {
                &.disabled {
                    opacity: 0.12;
                    pointer-events: none;
                }
            }
        }
    }
}

.sign_in_code_recovery_modal {
    width: 415px;
    background: #ffffff;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
    border-radius: 22px;
    padding: 35px 38px 48px;

    .title {
        margin: 0 0 49px;
        font-style: normal;
        font-weight: 700;
        font-size: 19px;
        line-height: 1;
        text-align: center;
        color: #000000;
    }

    .instruction {
        max-width: 287px;
        margin: 0 auto 22px;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 1.4;
        text-align: center;
        color: #000000;
    }

    .code_recovery_form {
        form {
            .forma {
                .code_wrapper {
                    display: block;

                    input {
                        display: inline;
                        margin: 0 10px;
                        width: 43px;
                        padding: 27px 0;
                        border: none;
                        border-bottom: 2px solid #dc0000;
                        font-weight: 700;
                        font-size: 18px;
                        outline: none !important;
                        text-align: center;
                        transition: border-bottom-color 0.2s;

                        &.filled {
                            border-bottom: 2px solid rgba(7, 7, 7, 0.2);
                        }
                    }
                }

                .send_code_again {
                    display: block;
                    text-decoration: none;
                    margin: 52px auto 44px;
                    border: none;
                    outline: none;
                    background-color: #ffffff;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 1;
                    text-align: center;
                    color: #000000;
                    cursor: pointer;
                    opacity: 0.5;
                    transition: opacity 0.2s;
                    pointer-events: auto;

                    &:hover {
                        opacity: 1;
                    }

                    &.disabled {
                        pointer-events: none;
                        cursor: default;
                    }
                }
            }

            .btn {
                &.disabled {
                    opacity: 0.12;
                    pointer-events: none;
                }
            }
        }
    }
}

.sign_in_computer_locked_modal {
    width: 412px;
    background: #dc0000;
    border-radius: 22px;
    padding: 50px 38px 52px;

    .title {
        margin: 0;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 1;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
    }

    .img_wrapper {
        margin: 31px auto 29px;
        width: 50px;
        height: 44px;

        img {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    .instruction {
        margin: 0 auto;
        max-width: 200px;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 1.3;
        text-align: center;
        color: #ffffff;
    }
}

.sign_in_set_new_password_modal {
    width: 415px;
    background: #ffffff;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
    border-radius: 22px;
    padding: 30px 30px 50px;

    .title {
        margin: 0 0 40px;
        font-style: normal;
        font-weight: 700;
        font-size: 21px;
        letter-spacing: 0.4px;
        line-height: 1.2;
        text-align: center;
        color: #000000;
    }

    .set_new_password_form {
        form {

            [data-placeholder][data-label] {
                position: relative;

                &:before,
                &:after {
                    transition: opacity 0.15s;
                    display: block;
                    position: absolute;
                    left: 56px;
                    pointer-events: none;
                    opacity: 0;
                    font-family: 'Lato', sans-serif;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 1;
                    letter-spacing: 0.5px;
                }

                &:before {
                    content: attr(data-placeholder);
                    top: 33px;
                    font-size: 15px;
                    color: rgba(1, 1, 1, 0.4);
                }

                &:after {
                    content: attr(data-label);
                    top: 20px;
                    font-size: 13px;
                    color: rgba(1, 1, 1, 0.6);
                }

                &:not(.filled):before {
                    opacity: 1;
                }

                &.filled:after {
                    opacity: 1;
                }
            }

            .forma {
                .form-group {
                    width: 340px;
                    position: relative;
                    margin: 0 auto 40px;

                    label {
                        display: block;
                        position: absolute;
                        top: 31px;
                        left: 22px;
                    }

                    input {
                        appearance: none;
                        -moz-appearance: none;
                        -webkit-appearance: none;
                        display: block;
                        background: #efefef;
                        border-radius: 8px;
                        border: none;
                        outline: none;
                        padding: 43px 10px 21px 57px;
                        font-weight: 900;
                        width: 100%;
                    }

                    .inspect_pass {
                        opacity: 0;
                        pointer-events: none;
                        display: block;
                        position: absolute;
                        bottom: 22px;
                        right: 14px;
                        font-family: 'Lato', sans-serif;
                        font-style: normal;
                        font-weight: 900;
                        font-size: 11px;
                        line-height: 1;
                        text-transform: uppercase;
                        color: #010101;
                        transition: opacity 0.2s;
                        cursor: pointer;

                        &.show {
                            opacity: 1;
                            pointer-events: auto;
                        }
                    }
                }

                .btn {
                    &.disabled {
                        opacity: 0.12;
                        pointer-events: none;
                    }
                }
            }
        }
    }
}

.sign_in_success_modal{
    width: 415px;
    background: #ffffff;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
    border-radius: 22px;
    padding: 30px 30px 50px;

    .title{
        margin: 30px 0 40px;
        font-weight: 700;
        font-size: 21px;
        letter-spacing: 0.4px;
        line-height: 1.2;
        text-align: center;
        color: #000000;
    }

    .instruction {
        max-width: 287px;
        margin: 0 auto;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 1.4;
        text-align: center;
        color: #000000;
    }
}
/*! MODALS END */

body .remodal-wrapper {
    .remodal {
        .remodal-content {
            transition: opacity 0.2s;
        }

        .remodal-close {
            width: 72px;
            height: 84px;
            left: unset;
            left: auto;
            right: 0;
            opacity: 1;
            background-image: url("../img/close.svg");
            background-repeat: no-repeat;
            background-position: center;

            &:before {
                content: none;
                display: none;
            }
        }
    }
}

body .remodal-wrapper {
    .remodal.sign_in_computer_locked_modal {
        .remodal-close {
            background-image: url("../img/closewhite.svg");
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}

body.remodal-overlay-without-animation .remodal-overlay {
    &, &.remodal-is-opening, .remodal-is-closing {
        -webkit-animation-name: none !important;
        animation-name: none !important;
        opacity: 1 !important;
    }
}

body.remodal-content-loading .remodal {
    &:before {
        content: '';
        display: block;
        position: absolute;
        left: 16px;
        top: 20px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 4px solid #dc0000;
        border-right-color: transparent;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-duration: 0.5s;
        animation-duration: 0.5s;
        -webkit-animation-name: remodal-loading-rotate;
        animation-name: remodal-loading-rotate;
    }

    .remodal-content {
        opacity: 0.5;

        &, * {
            pointer-events: none;
        }
    }
}

@-webkit-keyframes remodal-loading-rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes remodal-loading-rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

